@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-heading: 'Fredoka', sans-serif;
  --font-numbers: 'Tektur', sans-serif;

  --font-sans: 'Public Sans', sans-serif;

  --color-background-yellow: #fbcf48;

  --color-text: #1e4563;
  
  --color-dodgerblue-50: #f0f8fe;
  --color-dodgerblue-100: #ddedfc;
  --color-dodgerblue-200: #c3e1fa;
  --color-dodgerblue-300: #9acff6;
  --color-dodgerblue-400: #6bb5ef;
  --color-dodgerblue-500: #4f9bea;
  --color-dodgerblue-600: #337bdd;
  --color-dodgerblue-700: #2a66cb;
  --color-dodgerblue-800: #2853a5;
  --color-dodgerblue-900: #254883;
  --color-dodgerblue-950: #1b2d50;
}
